<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/collegestudents?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">ayeola2014</property>
    <mapping resource="com/inventory/system/model/Accounts.hbm.xml"/>
    <mapping resource="com/inventory/system/model/Messages.hbm.xml"/>
    <mapping resource="com/inventory/system/model/AcademicClass.hbm.xml"/>
    <mapping resource="com/inventory/system/model/Teacher.hbm.xml"/>
    <mapping resource="com/inventory/system/model/Guidian.hbm.xml"/>
    <mapping resource="com/inventory/system/model/Role.hbm.xml"/>
    <mapping resource="com/inventory/system/model/State.hbm.xml"/>
    <mapping resource="com/inventory/system/model/NonTeachingStaff.hbm.xml"/>
    <mapping resource="com/inventory/system/model/Admin.hbm.xml"/>
    <mapping resource="com/inventory/system/model/StudentRegistration.hbm.xml"/>
    <mapping resource="com/inventory/system/model/Students.hbm.xml"/>
    <mapping resource="com/inventory/system/model/StudentSubjects.hbm.xml"/>
    <mapping resource="com/inventory/system/model/Subjects.hbm.xml"/>
    <mapping resource="com/inventory/system/model/Payments.hbm.xml"/>
    <mapping resource="com/inventory/system/model/LocalGovernment.hbm.xml"/>
    <mapping resource="com/inventory/system/model/AuditTrail.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
